html, body {
  margin: 0;
  padding: 0;
  height: 100%;
    
  font-family: 'Indie Flower', cursive;
}

/*
 * Globals
 */

 /*
 * Base structure
 */

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: url("../img/sunSea.jpeg") center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Links */
a,
a:focus {
  color: #FFF;
  
}

a:hover {
  /*box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);*/
  text-decoration: none;
  border-style: none;
  color: 23527c;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #FAEA8E;
  border: 1px solid #fff;
}

.btn-default:hover {
  background-color: transparent;
}

h1.cover-heading {
  font-size: 3em;
}



/* Extra markup and styles for table-esque vertical and horizontal centering*/
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;

}

/*
#P1, #P2 {
  font-family: arial; 
  color: black;
}
*/

/* Padding for spacing  */
.inner {
/*  position: relative; */
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 3.5em;
}


/*.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}*/

/*Portfolio display
*/

/*.masthead {
  margin-bottom: 400px;
}*/

.headerApp {
  display: none;
  font-size: 2.5em;
}

.container {
  width: 100%;
  /*margin-left: auto;
  margin-right: auto; */
}

.supporting {
  margin-left: auto;
  margin-right: auto;
}

.main-page {
  padding-bottom: 4em;
}

/* Landing page pre-transition */
.img-thumbnail {
  display: none;
  height: 10px;
  width: 10px;
  
}

/* Displays project images post-transition */
.img-thumbnail2 {
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
  transition: height 2s, width 2s;
  text-align: center;

}

/* Remove border and add padding to thumbnails */
.thumbnail {
    display: none;
    height: 75%;
    width: 75%;
    padding: 5px;
    border: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    color: #000;
    background-color: #FFF;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.thumbnail:hover, 
.thumbnail:focus {
    cursor: pointer;
    text-shadow: none; /* Prevent inheritence from `body` */
    color: inherit;
    opacity: 0.9;
    filter: drop-shadow(10px 10px 20px red);
    color: #FFF;
    background-color: #000;
}

.thumb-header: {
  height: 25%;
  width: 75%;
  background-color: #000;
  color: #FFF;
  cursor: default;
}

.thumb-header: hover {
  height: 25%;
  width: 75%;
  background-color: #000;
  color: #FFF;
  cursor: default;
  opacity: 0.5;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, 
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    text-shadow: none; /* Prevent inheritence from `body` */
    color: #000;
}

/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
    background-color: #FA9F0C;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-body {
  background-color: #A62616;
}

.modal-header, .modal-body {
    padding: 20px 25px;
}

.modal-link {
  margin-bottom: 5px;
}

#appear {
  margin-bottom: 10px;
}

.popover, 
.popover h3.title, 
.popover .content { 
  font-size: 14px; 
  color: black;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-top: 100px;
}

.cover .btn-lg {
/*  padding: 10px 20px;*/
  font-weight: bold;

}

/*
 * Footer
 */
.mastfoot {
  /*color: #999; /* IE8 proofing */
  /*color: rgba(255,255,255,.5);*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  display: none;
  background: #000000;
  color: #0393ff;
  width: 100%;
  height: 8%;
  opacity: 0.2%;
  bottom: 0;
  position: fixed;
}

/*.footer address {
  margin-top: 1em;
}*/

.footer img {
  height: 2em;
  width: 3em;
}

.footer .col-md-4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.copyright {
  display: none;
}

/*
 * Affix and center
 */

 /* This is from medium/tablet size up to full laptop width (min-width 992px) between 768px and 992px-------*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  /*.inner {
    margin-top: 20px;
  } */

  .mastfoot {
    display: block;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .masthead-brand {
    float: left;
  }
  /*.masthead-nav {
    float: right;
  }*/

 /* .headerApp {
    position: relative;
    float: right;
   /* margin-bottom: 100px;
    padding-bottom: 100px;
  }*/

  .cover {
  padding: 0 20px;
  margin-top: 200px;
  }

  h1.cover-heading {
  font-size: 6em;
  }

  .img-thumbnail2 {
    height: 100%;
    width: 100%;

    margin: 0 auto 0;
    text-align: center;
  }

  .thumbnail {
    height: 300px;
    width: 100%;
  }

  .thumb-header {
    height: 5em;
    background-color: #000;
    color: #FFF;
    opacity: 0.9;
  }

  .thumb-header: hover {
    background-color: #000;
    color: #FFF;
    opacity: 0.9;
    cursor: default;
  }

  .supporting {
    width: 100%;
    margin-top: 200px;
  }

  .footer {
    height: 7.5%;
  }

  .copyright {
    display: inline;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}
/*--------------------------------------------------------------------------------------------------------*/

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place.
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* carousel already referenced at carousel.css
.carousel {
  height: 50%;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption
.carousel-caption {
  z-index: 10;
}

 Declare heights because of positioning of img element 
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner {
  height: 50%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 800px;
}
*/



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
/*.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}*/


/* Featurettes
------------------------- 

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  
}

/* Thin out the marketing headings*/
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*
.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1438618849391-f906e5dd634f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8e912444ec45c8c0f4cf69b439c4afd7);
}*/


/* RESPONSIVE CSS
--------------------------------------------------

@media (min-width: 768px) {
  /* Navbar positioning foo
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
*/



/*------------THIS IS THE SCREEN AT FULL LAPTOP WIDTH 992px----------------------- */

@media (min-width: 992px) {
 /* .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }*/
  .footer {
    display: none;
    height: 7.5%;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
  .masthead-brand {
    font-size: 8em;
  }
  .headerApp {
    font-size: 7em;
    margin-right: 2em;
  }

  .supporting {
    width: 90%;
  }

  .img-thumbnail2 {
    width: 100%;
    height: 100%;
  }
}
/*---------------------------------------------------------------------------- */
